.git
.gitignore
.gitattributes
README.md
.env
.env.backup
.env.production
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/*
bootstrap/cache/*
tests
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
